<% string_fields = UserCustomField.all %>
<% select_options = '<option value=""></option>' << options_from_collection_for_select(string_fields, :id, :name, @settings['linkcf'].to_i) %>
<% select_options2 = '<option value=""></option>' << options_from_collection_for_select(string_fields, :id, :name, @settings['linkcf2'].to_i) %>



<fieldset>
<legend><%= l(:im_settings_legend1) %></legend>

<button type="button" onclick="setfields('default1')">Defaults</button>

<p>
<label><%= l(:im_enable_autowatch) %></label>
<%= check_box_tag 'settings[addwatchers]', true, @settings['addwatchers'] %>
<em><%= l(:im_enable_autowatch_desc) %></em>
</p>

<p>
<label><%= l(:im_enable_people) %></label>
<%= check_box_tag 'settings[showpeople]', true, @settings['showpeople'] %>
<em><%= l(:im_enable_people_desc) %></em>

<p><label><%= l(:im_footer_html) %></label>
<%= text_area_tag 'settings[footerhtml]', @settings['footerhtml'], rows: 6 %><br />
<em><%= l(:im_footer_html_desc) %></em><br />
</p>

<p><label><%= l(:im_popupwindowsize) %></label>
<%= text_field_tag 'settings[popupwindowsize]', @settings['popupwindowsize'] %>
<em><%= l(:im_popupwindowsize_desc) %></em><br />
</p>

</fieldset>


<fieldset>
<legend><%= l(:im_settings_legend2) %></legend>

<button type="button" onclick="setfields('skype1')">Skype</button>
<button type="button" onclick="setfields('teams1')">MSTeams</button>
<button type="button" onclick="setfields('slack1')">Slack</button>
<button type="button" onclick="setfields('email1')">Email</button>

<p><label><%= l(:im_link_name) %></label>
<%= text_field_tag 'settings[linkname]', @settings['linkname'] %>
<em><%= l(:im_link_name_desc) %></em><br />
</p>

<p><label><%= l(:im_link_url) %></label>
<%= text_field_tag 'settings[linkurl]', @settings['linkurl'] %>
<em><%= l(:im_link_url_desc) %></em><br />
</p>

<p>
<label><%=l(:im_link_type)%></label>
<select name="settings[linktype]">
	<option value="1" <%= settings['linktype'] == '1' ? "selected" : "" %>><%= l(:im_link_type1) %></option>
	<option value="2" <%= settings['linktype'] == '2' ? "selected" : "" %>><%= l(:im_link_type2) %></option>
	<option value="3" <%= settings['linktype'] == '3' ? "selected" : "" %>><%= l(:im_link_type3) %></option>
</select>
<em><%= l(:im_link_type_desc) %></em><br />
</p>

<p><label><%= l(:im_include) %></label>
<%= text_field_tag 'settings[includestring]', @settings['includestring'] %>
<em><%= l(:im_include_desc) %></em><br />
</p>

<p><label><%= l(:im_exclude) %></label>
<%= text_field_tag 'settings[excludestring]', @settings['excludestring'] %>
<em><%= l(:im_exclude_desc) %></em><br />
</p>

<p><label><%= l(:im_link_cf) %></label>
<%= select_tag 'settings[linkcf]', select_options.html_safe %>
<em><%= l(:im_link_cf_desc) %></em><br />
</p>

</fieldset>





<fieldset>
<legend><%= l(:im_settings_legend3) %></legend>

<button type="button" onclick="setfields('skype2')">Skype</button>
<button type="button" onclick="setfields('teams2')">MSTeams</button>
<button type="button" onclick="setfields('slack2')">Slack</button>
<button type="button" onclick="setfields('email2')">Email</button>

<p><label><%= l(:im_link_name) %></label>
<%= text_field_tag 'settings[linkname2]', @settings['linkname2'] %>
<em><%= l(:im_link_name_desc) %></em><br />
</p>

<p><label><%= l(:im_link_url) %></label>
<%= text_field_tag 'settings[linkurl2]', @settings['linkurl2'] %>
<em><%= l(:im_link_url_desc) %></em><br />
</p>

<p>
<label><%=l(:im_link_type)%></label>
<select name="settings[linktype2]">
	<option value="1" <%= settings['linktype2'] == '1' ? "selected" : "" %>><%= l(:im_link_type1) %></option>
	<option value="2" <%= settings['linktype2'] == '2' ? "selected" : "" %>><%= l(:im_link_type2) %></option>
	<option value="3" <%= settings['linktype2'] == '3' ? "selected" : "" %>><%= l(:im_link_type3) %></option>
</select>
<em><%= l(:im_link_type_desc) %></em><br />
</p>

<p><label><%= l(:im_include) %></label>
<%= text_field_tag 'settings[includestring2]', @settings['includestring2'] %>
<em><%= l(:im_include_desc) %></em><br />
</p>

<p><label><%= l(:im_exclude) %></label>
<%= text_field_tag 'settings[excludestring2]', @settings['excludestring2'] %>
<em><%= l(:im_exclude_desc) %></em><br />
</p>

<p><label><%= l(:im_link_cf) %></label>
<%= select_tag 'settings[linkcf2]', select_options2.html_safe %>
<em><%= l(:im_link_cf_desc) %></em><br />
</p>

</fieldset>

<%= l(:im_settings_footer) %>
<br>
<%= l(:im_settings_wiki) %> <a href="https://github.com/MatthewPaulGithub/redmine_im_link/wiki" target=_blank>redmine_im_link Wiki</a>


<script>

function setfields(setname) {

	if (setname == 'skype1') {
		a = window.confirm('OVERWRITE Link1 with Skype Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname').value='Skype';
			document.getElementById('settings_linkurl').value='sip:%email%';
			document.getElementsByName('settings[linktype]')[0].value='1';
			document.getElementById('settings_includestring').value='@';
			document.getElementById('settings_excludestring').value='';
			document.getElementById('settings_linkcf').value='';
			}
	}
	else if (setname == 'teams1') {
		a = window.confirm('OVERWRITE Link1 with MSTeams Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname').value='MSTeams';
			document.getElementById('settings_linkurl').value='sip:%email%';
			document.getElementsByName('settings[linktype]')[0].value='1';
			document.getElementById('settings_includestring').value='@';
			document.getElementById('settings_excludestring').value='';
			document.getElementById('settings_linkcf').value='';
			}
	}
	else if (setname == 'slack1') {
		a = window.confirm('OVERWRITE Link1 with Slack Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname').value='Slack';
			document.getElementById('settings_linkurl').value='slack://channel?team=TEAMID&id=%cf%';
			document.getElementsByName('settings[linktype]')[0].value='1';
			document.getElementById('settings_includestring').value='@';
			document.getElementById('settings_excludestring').value='';
			document.getElementById('settings_linkcf').value='';
			window.confirm('NOTE - To directly open correct user you must-\n1-Create User custom field like SlackID\n2-Populate the Slack UserID in that field\n3-Set that field in the Custom Field selection below\n4-Update the TEAMID value in the Link URL\nInstructions for getting the TeamID and UserID can be found in the Plugin Wiki (Link Below)');
			}
	}
	else if (setname == 'email1') {
		a = window.confirm('OVERWRITE Link1 with Email Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname').value='Email';
			document.getElementById('settings_linkurl').value='mailto:%email%?subject=%subject% [#%id%]';
			document.getElementsByName('settings[linktype]')[0].value='1';
			document.getElementById('settings_includestring').value='@';
			document.getElementById('settings_excludestring').value='';
			document.getElementById('settings_linkcf').value='';
			}
	}
	else if (setname == 'skype2') {
		a = window.confirm('OVERWRITE Link2 with Skype Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname2').value='Skype';
			document.getElementById('settings_linkurl2').value='sip:%email%';
			document.getElementsByName('settings[linktype2]')[0].value='1';
			document.getElementById('settings_includestring2').value='@';
			document.getElementById('settings_excludestring2').value='';
			document.getElementById('settings_linkcf2').value='';
			}
	}
	else if (setname == 'teams2') {
		a = window.confirm('OVERWRITE Link2 with MSTeams Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname2').value='MSTeams';
			document.getElementById('settings_linkurl2').value='sip:%email%';
			document.getElementsByName('settings[linktype2]')[0].value='1';
			document.getElementById('settings_includestring2').value='@';
			document.getElementById('settings_excludestring2').value='';
			document.getElementById('settings_linkcf2').value='';
			}
	}
	else if (setname == 'slack2') {
		a = window.confirm('OVERWRITE Link2 with Slack Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname2').value='Slack';
			document.getElementById('settings_linkurl2').value='slack://channel?team=TEAMID&id=%cf%';
			document.getElementsByName('settings[linktype2]')[0].value='1';
			document.getElementById('settings_includestring2').value='@';
			document.getElementById('settings_excludestring2').value='';
			document.getElementById('settings_linkcf2').value='';
			window.confirm('NOTE - To directly open correct user you must-\n1-Create User custom field like SlackID\n2-Populate the Slack UserID in that field\n3-Set that field in the Custom Field selection below\n4-Update the TEAMID value in the Link URL\nInstructions for getting the TeamID and UserID can be found in the Plugin Wiki (Link Below)');
			}
	}
	else if (setname == 'email2') {
		a = window.confirm('OVERWRITE Link2 with Email Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname2').value='Email';
			document.getElementById('settings_linkurl2').value='mailto:%email%?subject=%subject% [#%id%]';
			document.getElementsByName('settings[linktype2]')[0].value='1';
			document.getElementById('settings_includestring2').value='@';
			document.getElementById('settings_excludestring2').value='';
			document.getElementById('settings_linkcf2').value='';
			}
	}
	else if (setname == 'default1') {
		a = window.confirm('OVERWRITE General with Default settings?');
		if (a == true) {
			document.getElementById('settings_addwatchers').checked=true;
			document.getElementById('settings_showpeople').checked=false;
			document.getElementById('settings_popupwindowsize').value='1100,600';
			window.confirm('Remember to set the Roles and Permissions or no links will be shown!');
			}
	}
		
}

</script>