<% string_fields = UserCustomField.all %>
<% select_options0 = '<option value=""></option>' << options_from_collection_for_select(string_fields, :id, :name, @settings['linkcf0'].to_i) %>
<% select_options1 = '<option value=""></option>' << options_from_collection_for_select(string_fields, :id, :name, @settings['linkcf1'].to_i) %>
<% select_options2 = '<option value=""></option>' << options_from_collection_for_select(string_fields, :id, :name, @settings['linkcf2'].to_i) %>

<fieldset>
<legend><%= l(:im_settings_legend1) %></legend>

<button type="button" onclick="setfields('default1')">Defaults</button>

<p>
<label><%= l(:im_enable_autowatch) %></label>
<%= check_box_tag 'settings[addwatchers]', true, @settings['addwatchers'] %>
<em><%= l(:im_enable_autowatch_desc) %></em>
</p>

<p>
<label><%= l(:im_enable_people) %></label>
<%= check_box_tag 'settings[showpeople]', true, @settings['showpeople'] %>
<em><%= l(:im_enable_people_desc) %></em>

<p><label><%= l(:im_footer_html) %></label>
<%= text_area_tag 'settings[footerhtml]', @settings['footerhtml'], rows: 6 %><br />
<em><%= l(:im_footer_html_desc) %></em><br />
</p>

<p><label><%= l(:im_popupwindowsize) %></label>
<%= text_field_tag 'settings[popupwindowsize]', @settings['popupwindowsize'] %>
<em><%= l(:im_popupwindowsize_desc) %></em><br />
</p>

</fieldset>


<fieldset>
<legend><%= l(:im_settings_legend2) %></legend>

<button type="button" onclick="setfields('skype0')">Skype</button>
<button type="button" onclick="setfields('teams0')">MSTeams</button>
<button type="button" onclick="setfields('slack0')">Slack</button>
<button type="button" onclick="setfields('email0')">Email</button>

<p><label><%= l(:im_link_name) %></label>
<%= text_field_tag 'settings[linkname0]', @settings['linkname0'] %>
<em><%= l(:im_link_name_desc) %></em><br />
</p>

<p><label><%= l(:im_link_url) %></label>
<%= text_field_tag 'settings[linkurl0]', @settings['linkurl0'] %>
<em><%= l(:im_link_url_desc) %></em><br />
</p>

<p>
<label><%=l(:im_link_type)%></label>
<select name="settings[linktype0]">
	<option value="1" <%= settings['linktype0'] == '1' ? "selected" : "" %>><%= l(:im_link_type1) %></option>
	<option value="2" <%= settings['linktype0'] == '2' ? "selected" : "" %>><%= l(:im_link_type2) %></option>
</select>
<em><%= l(:im_link_type_desc) %></em><br />
</p>

<p><label><%= l(:im_include) %></label>
<%= text_field_tag 'settings[includestring0]', @settings['includestring0'] %>
<em><%= l(:im_include_desc) %></em><br />
</p>

<p><label><%= l(:im_exclude) %></label>
<%= text_field_tag 'settings[excludestring0]', @settings['excludestring0'] %>
<em><%= l(:im_exclude_desc) %></em><br />
</p>

<p><label><%= l(:im_link_cf) %></label>
<%= select_tag 'settings[linkcf0]', select_options0.html_safe %>
<em><%= l(:im_link_cf_desc) %></em><br />
</p>

</fieldset>


<fieldset>
<legend><%= l(:im_settings_legend3) %></legend>

<button type="button" onclick="setfields('skype1')">Skype</button>
<button type="button" onclick="setfields('teams1')">MSTeams</button>
<button type="button" onclick="setfields('slack1')">Slack</button>
<button type="button" onclick="setfields('email1')">Email</button>

<p><label><%= l(:im_link_name) %></label>
<%= text_field_tag 'settings[linkname1]', @settings['linkname1'] %>
<em><%= l(:im_link_name_desc) %></em><br />
</p>

<p><label><%= l(:im_link_url) %></label>
<%= text_field_tag 'settings[linkurl1]', @settings['linkurl1'] %>
<em><%= l(:im_link_url_desc) %></em><br />
</p>

<p>
<label><%=l(:im_link_type)%></label>
<select name="settings[linktype1]">
	<option value="1" <%= settings['linktype1'] == '1' ? "selected" : "" %>><%= l(:im_link_type1) %></option>
	<option value="2" <%= settings['linktype1'] == '2' ? "selected" : "" %>><%= l(:im_link_type2) %></option>
	<option value="3" <%= settings['linktype1'] == '3' ? "selected" : "" %>><%= l(:im_link_type3) %></option>
	<option value="4" <%= settings['linktype1'] == '4' ? "selected" : "" %>><%= l(:im_link_type4) %></option>
</select>
<em><%= l(:im_link_type_desc) %></em><br />
</p>

<p><label><%= l(:im_include) %></label>
<%= text_field_tag 'settings[includestring1]', @settings['includestring1'] %>
<em><%= l(:im_include_desc) %></em><br />
</p>

<p><label><%= l(:im_exclude) %></label>
<%= text_field_tag 'settings[excludestring1]', @settings['excludestring1'] %>
<em><%= l(:im_exclude_desc) %></em><br />
</p>

<p><label><%= l(:im_link_cf) %></label>
<%= select_tag 'settings[linkcf1]', select_options1.html_safe %>
<em><%= l(:im_link_cf_desc) %></em><br />
</p>

</fieldset>


<fieldset>
<legend><%= l(:im_settings_legend4) %></legend>

<button type="button" onclick="setfields('skype2')">Skype</button>
<button type="button" onclick="setfields('teams2')">MSTeams</button>
<button type="button" onclick="setfields('slack2')">Slack</button>
<button type="button" onclick="setfields('email2')">Email</button>

<p><label><%= l(:im_link_name) %></label>
<%= text_field_tag 'settings[linkname2]', @settings['linkname2'] %>
<em><%= l(:im_link_name_desc) %></em><br />
</p>

<p><label><%= l(:im_link_url) %></label>
<%= text_field_tag 'settings[linkurl2]', @settings['linkurl2'] %>
<em><%= l(:im_link_url_desc) %></em><br />
</p>

<p>
<label><%=l(:im_link_type)%></label>
<select name="settings[linktype2]">
	<option value="1" <%= settings['linktype2'] == '1' ? "selected" : "" %>><%= l(:im_link_type1) %></option>
	<option value="2" <%= settings['linktype2'] == '2' ? "selected" : "" %>><%= l(:im_link_type2) %></option>
	<option value="3" <%= settings['linktype2'] == '3' ? "selected" : "" %>><%= l(:im_link_type3) %></option>
	<option value="4" <%= settings['linktype2'] == '4' ? "selected" : "" %>><%= l(:im_link_type4) %></option>
</select>
<em><%= l(:im_link_type_desc) %></em><br />
</p>

<p><label><%= l(:im_include) %></label>
<%= text_field_tag 'settings[includestring2]', @settings['includestring2'] %>
<em><%= l(:im_include_desc) %></em><br />
</p>

<p><label><%= l(:im_exclude) %></label>
<%= text_field_tag 'settings[excludestring2]', @settings['excludestring2'] %>
<em><%= l(:im_exclude_desc) %></em><br />
</p>

<p><label><%= l(:im_link_cf) %></label>
<%= select_tag 'settings[linkcf2]', select_options2.html_safe %>
<em><%= l(:im_link_cf_desc) %></em><br />
</p>

</fieldset>

<fieldset>
<legend><%= l(:im_settings_legend5) %></legend>

<button type="button" onclick="setfields('teams3')">MSTeams</button>

<p><label><%= l(:im_link_name) %></label>
<%= text_field_tag 'settings[meetinglinkname]', @settings['meetinglinkname'] %>
<em><%= l(:im_link_name_desc) %></em><br />
</p>

<p><label><%= l(:im_link_url) %></label>
<%= text_area_tag 'settings[meetingurl]', @settings['meetingurl'], rows: 2 %>
<em><%= l(:im_meeting_link_url_desc) %></em><br />
</p>

<p><label><%= l(:im_meeting_topic) %></label>
<%= text_area_tag 'settings[meetingtopic]', @settings['meetingtopic'], rows: 2 %>
<em><%= l(:im_meeting_topic_desc) %></em><br />
</p>

<p><label><%= l(:im_meeting_initial_massage) %></label>
<%= text_area_tag 'settings[meetinginitmessage]', @settings['meetinginitmessage'], rows: 2 %>
<em><%= l(:im_meeting_initial_massage_desc) %></em><br />
</p>

<p>
<label><%=l(:im_link_type)%></label>
<select name="settings[meetinglinktype]">
	<option value="1" <%= settings['meetinglinktype'] == '1' ? "selected" : "" %>><%= l(:im_link_type1) %></option>
	<option value="2" <%= settings['meetinglinktype'] == '2' ? "selected" : "" %>><%= l(:im_link_type2) %></option>
	<option value="3" <%= settings['meetinglinktype'] == '3' ? "selected" : "" %>><%= l(:im_link_type3) %></option>
	<option value="4" <%= settings['meetinglinktype'] == '4' ? "selected" : "" %>><%= l(:im_link_type4) %></option>
</select>
<em><%= l(:im_link_type_desc) %></em><br />
</p>

<p><label><%= l(:im_include) %></label>
<%= text_field_tag 'settings[meetinginclude]', @settings['meetinginclude'] %>
<em><%= l(:im_include_desc) %></em><br />
</p>

<p><label><%= l(:im_exclude) %></label>
<%= text_field_tag 'settings[meetingexclude]', @settings['meetingexclude'] %>
<em><%= l(:im_exclude_desc) %></em><br />
</p>

</fieldset>


<%= l(:im_settings_footer) %>
<br>
<%= l(:im_settings_footer1) %>
<br>
<%= l(:im_settings_wiki) %> <a href="https://github.com/MatthewPaulGithub/redmine_im_link/wiki" target=_blank>redmine_im_link Wiki</a>


<script>

function setfields(setname) {

	if (setname == 'skype0') {
		a = window.confirm('OVERWRITE Link0 with Skype Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname0').value='Skype';
			document.getElementById('settings_linkurl0').value='sip:%email%';
			document.getElementsByName('settings[linktype0]')[0].value='1';
			document.getElementById('settings_includestring0').value='@';
			document.getElementById('settings_excludestring0').value='';
			document.getElementById('settings_linkcf0').value='';
			}
	}
	else if (setname == 'teams0') {
		a = window.confirm('OVERWRITE Link0 with MSTeams Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname0').value='MSTeams';
			document.getElementById('settings_linkurl0').value='sip:%email%';
			document.getElementsByName('settings[linktype0]')[0].value='1';
			document.getElementById('settings_includestring0').value='@';
			document.getElementById('settings_excludestring0').value='';
			document.getElementById('settings_linkcf0').value='';
			}
	}
	else if (setname == 'slack0') {
		a = window.confirm('OVERWRITE Link0 with Slack Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname0').value='Slack';
			document.getElementById('settings_linkurl0').value='slack://channel?team=TEAMID&id=%cf%';
			document.getElementsByName('settings[linktype0]')[0].value='1';
			document.getElementById('settings_includestring0').value='@';
			document.getElementById('settings_excludestring0').value='';
			document.getElementById('settings_linkcf0').value='';
			window.confirm('NOTE - To directly open correct user you must-\n1-Create User custom field like SlackID\n2-Populate the Slack UserID in that field\n3-Set that field in the Custom Field selection below\n4-Update the TEAMID value in the Link URL\nInstructions for getting the TeamID and UserID can be found in the Plugin Wiki (Link Below)');
			}
	}
	else if (setname == 'email0') {
		a = window.confirm('OVERWRITE Link0 with Email Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname0').value='Email';
			document.getElementById('settings_linkurl0').value='mailto:%email%?subject=%subject% [#%id%]';
			document.getElementsByName('settings[linktype0]')[0].value='1';
			document.getElementById('settings_includestring0').value='@';
			document.getElementById('settings_excludestring0').value='';
			document.getElementById('settings_linkcf0').value='';
			}
	}
	else if (setname == 'skype1') {
		a = window.confirm('OVERWRITE Link1 with Skype Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname1').value='Skype';
			document.getElementById('settings_linkurl1').value='sip:%email%';
			document.getElementsByName('settings[linktype1]')[0].value='1';
			document.getElementById('settings_includestring1').value='@';
			document.getElementById('settings_excludestring1').value='';
			document.getElementById('settings_linkcf1').value='';
			}
	}
	else if (setname == 'teams1') {
		a = window.confirm('OVERWRITE Link1 with MSTeams Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname1').value='MSTeams';
			document.getElementById('settings_linkurl1').value='sip:%email%';
			document.getElementsByName('settings[linktype1]')[0].value='1';
			document.getElementById('settings_includestring1').value='@';
			document.getElementById('settings_excludestring1').value='';
			document.getElementById('settings_linkcf1').value='';
			}
	}
	else if (setname == 'slack1') {
		a = window.confirm('OVERWRITE Link1 with Slack Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname1').value='Slack';
			document.getElementById('settings_linkurl1').value='slack://channel?team=TEAMID&id=%cf%';
			document.getElementsByName('settings[linktype1]')[0].value='1';
			document.getElementById('settings_includestring1').value='@';
			document.getElementById('settings_excludestring1').value='';
			document.getElementById('settings_linkcf1').value='';
			window.confirm('NOTE - To directly open correct user you must-\n1-Create User custom field like SlackID\n2-Populate the Slack UserID in that field\n3-Set that field in the Custom Field selection below\n4-Update the TEAMID value in the Link URL\nInstructions for getting the TeamID and UserID can be found in the Plugin Wiki (Link Below)');
			}
	}
	else if (setname == 'email1') {
		a = window.confirm('OVERWRITE Link1 with Email Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname1').value='Email';
			document.getElementById('settings_linkurl1').value='mailto:%email%?subject=%subject% [#%id%]';
			document.getElementsByName('settings[linktype1]')[0].value='1';
			document.getElementById('settings_includestring1').value='@';
			document.getElementById('settings_excludestring1').value='';
			document.getElementById('settings_linkcf1').value='';
			}
	}
	else if (setname == 'skype2') {
		a = window.confirm('OVERWRITE Link2 with Skype Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname2').value='Skype';
			document.getElementById('settings_linkurl2').value='sip:%email%';
			document.getElementsByName('settings[linktype2]')[0].value='1';
			document.getElementById('settings_includestring2').value='@';
			document.getElementById('settings_excludestring2').value='';
			document.getElementById('settings_linkcf2').value='';
			}
	}
	else if (setname == 'teams2') {
		a = window.confirm('OVERWRITE Link2 with MSTeams Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname2').value='MSTeams';
			document.getElementById('settings_linkurl2').value='sip:%email%';
			document.getElementsByName('settings[linktype2]')[0].value='1';
			document.getElementById('settings_includestring2').value='@';
			document.getElementById('settings_excludestring2').value='';
			document.getElementById('settings_linkcf2').value='';
			}
	}
	else if (setname == 'slack2') {
		a = window.confirm('OVERWRITE Link2 with Slack Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname2').value='Slack';
			document.getElementById('settings_linkurl2').value='slack://channel?team=TEAMID&id=%cf%';
			document.getElementsByName('settings[linktype2]')[0].value='1';
			document.getElementById('settings_includestring2').value='@';
			document.getElementById('settings_excludestring2').value='';
			document.getElementById('settings_linkcf2').value='';
			window.confirm('NOTE - To directly open correct user you must-\n1-Create User custom field like SlackID\n2-Populate the Slack UserID in that field\n3-Set that field in the Custom Field selection below\n4-Update the TEAMID value in the Link URL\nInstructions for getting the TeamID and UserID can be found in the Plugin Wiki (Link Below)');
			}
	}
	else if (setname == 'email2') {
		a = window.confirm('OVERWRITE Link2 with Email Default settings?');
		if (a == true) {
			document.getElementById('settings_linkname2').value='Email';
			document.getElementById('settings_linkurl2').value='mailto:%email%?subject=%subject% [#%id%]';
			document.getElementsByName('settings[linktype2]')[0].value='1';
			document.getElementById('settings_includestring2').value='@';
			document.getElementById('settings_excludestring2').value='';
			document.getElementById('settings_linkcf2').value='';
			}
	}
	else if (setname == 'teams3') {
		a = window.confirm('OVERWRITE Meeting Link with MSTeams Default settings?');
		if (a == true) {
			document.getElementById('settings_meetinglinkname').value='MSTeams';
			document.getElementById('settings_meetingtopic').value='[#%id%]';
			document.getElementById('settings_meetinginitmessage').value='About [#%id%]: %subject%';
			document.getElementById('settings_meetingurl').value='https://teams.microsoft.com/l/chat/0/0?users=%watcherlist%&topicName=%meetingtopic%&message=%meetinginitmessage%';
			document.getElementsByName('settings[meetinglinktype]')[0].value='2';
			document.getElementById('settings_meetinginclude').value='@';
			document.getElementById('settings_meetingexclude').value='';
			}
	}
	else if (setname == 'default1') {
		a = window.confirm('OVERWRITE General with Default settings?');
		if (a == true) {
			document.getElementById('settings_addwatchers').checked=true;
			document.getElementById('settings_showpeople').checked=false;
			document.getElementById('settings_popupwindowsize').value='1100,600';
			window.confirm('Remember to set the Roles and Permissions or no links will be shown!');
			}
	}
		
}

</script>